/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #999;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
    cursor: pointer;
    float: left;
    list-style: none;
    text-align: center;
    background-color: #000000;
    color: white;
    margin-right: 30px;
    width: 150px;
    line-height: 60px;
    border-radius: 8px;
  }
  
  li:hover {
    text-decoration: none;
    color: #000000;
    background-color: #33b5e5;
  }
  
  input {
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #999;
    outline: none;
    font-size: 14px;
  }
  
  button {
    height: 24px;
    border: none;
    border-radius: 8px;
    background: transparent;
    color: #2b2a68;
    outline: none;
    font-size: 14px;
    cursor: pointer;
  }

  .botao-alterar{
    background-color: #30918c;
  }

  .botao-alterar:hover{
    background-color: #7c7dab;
  }

    li:hover .button-interno {
    pointer-events: none;
  }
  /* Estilos do modal */
  .modal {
    display: none; /* Inicia oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
  }
  
  /* Estilos dos botões do modal */
  .botao_confirmar,
  .botao_cancelar {
    margin: 10px;
    border: none;
    cursor: pointer;
  }
  
  .botao_confirmar {
    background-color: #4caf50;
    color: white;
  }
  
  .botao_cancelar {
    background-color: #f44336;
    color: white;
  }

  .concluida {
    background-color: green;
    color: white;
  }
  
  .pendente {
    background-color: yellow;
    color: black;
  }
  
  
  /* Estilo overlay para o modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Cor de fundo escurecido */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo para o conteúdo do modal */
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
  